footer {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  margin-top: 120px;
  .footer-logo {
    max-width: 200px;
    margin-bottom: 20px;
  }
  .footer-nav {
    img {
      max-width: 50px;
    }
    > ul {
      display: flex;
    }
  }
  a {
    transition: 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
  .footer-credits {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    line-height: 140%;

    a {
      font-size: 1.125em;
      color: inherit;
    }
  }
}
