.galeria {
  margin-top: 120px;
  margin-bottom: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  h2 {
    @extend %section-title;
    margin-bottom: 2rem;

    span {
      @extend %section-background-title;
      width: auto;
    }
  }
  span {
    left: 50%;
    transform: translate(-50%);
  }
  ul {
    img {
      max-width: 100%;
    }
  }
}
