.hero {
  background: var(--image-url) no-repeat center 20%;
  background-size: cover;

  min-height: 35rem;
  height: 100vh;
  width: 100%;
  margin-bottom: 7.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;

  a {
    display: block;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }

  .hero-nav > ul {
    display: flex;

    @include responsive(s) {
      a {
        width: 3.125rem;
        height: 3.125rem;
      }
    }
  }

  .hero-logo {
    max-width: 22.5rem;
    width: 90%;

    img {
      display: block;
      width: 100%;
    }

    @include responsive (s) {
      max-width: 18rem;
    }
  }

  @include responsive(s) {
    padding-top: 3rem;
  }
}

.logo {
  margin-bottom: 20px;
  max-width: 200px;
}

.sec-txt {
  @include responsive(s) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
