.parceiros,
.patrocinadores,
.apoiadores {
  margin-top: 120px;
  padding: 0 60px;

  @include responsive(s) {
    padding: 0;

    h4 {
      font-size: min(2.5rem, 10vw);
    }
  }
}

.apoiadores {
  padding-bottom: 7.5rem;
}

.marcas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 40px;
  margin-top: 5rem;
  @include responsive(s) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
  }
}

.marca {
  max-width: 200px;
  filter: grayscale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
