.sobre {
  @extend %section;
  grid-template-columns: 1fr 0.8fr;

  h2 {
    @extend %section-title;
    position: relative;
    z-index: 2;
    margin-bottom: 1rem;

    span {
      margin: 0;
      width: 50%;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
    }
  }
}
