* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Rustico;
  src: url("../fonts/rustico.otf");
}
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 1.125rem;
  line-height: 130%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 0px;
  }
}

main {
  background-color: #f4f2ec;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.btn {
  padding: 1rem 1.5rem;
  margin-top: 40px;
  background-color: #222;
  color: #fff;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s ease;
}
.btn img {
  margin-left: 20px;
}
.btn:hover {
  opacity: 0.7;
}

.ajude h2, .galeria h2, .sobre h2, .quem-somos h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  color: #222222;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
}
.ajude h2 span, .galeria h2 span, .sobre h2 span, .quem-somos h2 span {
  font-family: "Rustico", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-bottom: -1rem;
}

.ajude h2 span, .galeria h2 span, .sobre h2 span {
  margin: 0;
  width: 50%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.sobre, .quem-somos {
  padding: 0 3.75rem;
  margin-bottom: 7.5rem;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 1.25rem;
}
@media screen and (max-width: 960px) {
  .sobre, .quem-somos {
    grid-template-columns: 1fr;
    padding: 0 1.25rem;
    row-gap: 2rem;
  }
}
.sobre .sec-txt p, .quem-somos .sec-txt p {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.sobre .sec-txt p a, .quem-somos .sec-txt p a {
  color: inherit;
  font-weight: 400;
  color: #555555;
  transition: color 300ms ease;
}
.sobre .sec-txt p a:hover, .quem-somos .sec-txt p a:hover {
  color: #7e7e7e;
}
.sobre .sec-img, .quem-somos .sec-img {
  display: grid;
  grid-template-columns: 0.75fr 0.8fr 0.2fr;
  grid-template-rows: repeat(2, 18.75rem) 6.25rem;
  gap: 1.5rem;
}
.sobre .sec-img img, .quem-somos .sec-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sobre .sec-img :first-child, .quem-somos .sec-img :first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}
.sobre .sec-img :nth-child(2), .quem-somos .sec-img :nth-child(2) {
  grid-column: 2/4;
}
.sobre .sec-img :last-child, .quem-somos .sec-img :last-child {
  grid-column: 2/3;
  grid-row: 2/4;
}

h1 {
  font-style: italic;
  font-weight: 700;
  color: #222;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 125%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 125%;
  }
}

h2 {
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 20px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-family: "Rustico", serif;
  font-size: 100px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Rustico", serif;
    font-size: 80px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 0rem;
  }
}

.old-span {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  font-size: 3rem;
  color: #222;
  left: 60px;
  top: 1rem;
  z-index: 10;
  position: absolute;
}
@media screen and (max-width: 960px) {
  .old-span {
    left: 0;
    top: 50%;
    transform: translateY(-80%);
  }
}

h3 {
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 120%;
  }
}

h4 {
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 120%;
  }
}

p {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 100%;
  }
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 100%;
  }
}

.header {
  position: fixed;
  top: var(--wp-admin--admin-bar--height, 0px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 1.25rem 0;
  width: 100%;
  z-index: 1000;
}
.header ul {
  gap: 40px;
  display: flex;
}
.header a {
  text-decoration: none;
  color: #ffffff;
}
.header a:hover {
  text-decoration: underline;
}
.header .header-logo {
  display: none;
}
@media screen and (max-width: 960px) {
  .header {
    justify-content: space-between;
    background-color: #222;
    padding: 10px 20px;
  }
  .header #btn-mobile {
    display: flex;
  }
  .header #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    right: 0;
    top: 70px;
    background: #222;
    z-index: 1000;
    transition: 0.6s;
    text-align: right;
    visibility: hidden;
    overflow-y: hidden;
  }
  .header .header-nav.active #menu {
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }
  .header #menu a {
    padding: 1rem 20px;
    display: block;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  .header .header-logo {
    display: block;
  }
  .header .header-logo img {
    max-width: 80px;
  }
}

.active-header {
  background-color: rgba(34, 34, 34, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media screen and (max-width: 960px) {
  .active-header {
    background-color: #222;
  }
}

#btn-mobile {
  display: none;
  background: #222;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  align-items: center;
  position: relative;
  z-index: 200;
  gap: 0.5rem;
}
#btn-mobile span {
  color: #fff;
  right: 0px;
  top: 50%;
  transform: translate(50%);
  position: unset;
}

#hamburguer {
  width: 20px;
  border-top: 2px solid;
}

#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

.header-nav.active #hamburguer {
  border-top-color: transparent;
}

.header-nav.active #hamburguer::before {
  transform: rotate(135deg);
}

.header-nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

.hero {
  background: url("./../img/bg-hero.jpg") no-repeat center 20%;
  background-size: cover;
  min-height: 33rem;
  height: 100vh;
  width: calc(100vw - 18px);
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero a {
  transition: 0.3s ease;
}
.hero a:hover {
  opacity: 0.6;
}
.hero .hero-nav > ul {
  display: flex;
}
@media screen and (max-width: 960px) {
  .hero {
    display: none;
  }
}

.logo {
  margin-bottom: 20px;
  max-width: 200px;
}

@media screen and (max-width: 960px) {
  .sec-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sobre {
  grid-template-columns: 1fr 0.8fr;
}
@media screen and (max-width: 960px) {
  .sobre {
    grid-template-columns: 1fr;
    padding: 0 1.25rem;
  }
}
@media screen and (max-width: 960px) {
  .sobre .sec-img {
    grid-row: 3/4;
  }
}

.numeros {
  margin-top: 7.5rem;
  padding: 0 3.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
@media screen and (max-width: 960px) {
  .numeros {
    grid-template-columns: 1fr;
    padding: 0 1.25rem;
    justify-items: center;
  }
}
.numeros > h2 {
  text-align: center;
  grid-column: 1/-1;
  font-size: 3.75rem;
  font-family: "Montserrat", sans-serif;
  color: #222222;
}

.num-card {
  width: 100%;
  max-width: 30rem;
  padding: 2.5rem 1.5rem;
  background-color: #fff;
  border-radius: 1.25rem;
}
.num-card p {
  text-align: center;
  font-size: 1.25rem;
}

.galeria {
  margin-top: 120px;
  margin-bottom: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 60px;
  position: relative;
}
.galeria h2 {
  margin-bottom: 2rem;
}
.galeria h2 span {
  width: auto;
}
.galeria span {
  left: 50%;
  transform: translate(-50%);
}
.galeria ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 960px) {
  .galeria ul {
    grid-template-columns: 1fr;
  }
}
.galeria ul img {
  max-width: 100%;
}
@media screen and (max-width: 960px) {
  .galeria {
    padding: 0 20px;
  }
}

.ajude {
  padding: 0 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ajude h2 {
  margin-bottom: 2rem;
}
.ajude__content h3 {
  text-align: start;
  margin-bottom: 1.5rem;
}
.ajude__content ul {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 1.25rem;
}
@media screen and (max-width: 960px) {
  .ajude__content ul {
    align-items: flex-start;
  }
}

.parceiros,
.patrocinadores,
.apoiadores {
  margin-top: 120px;
  padding: 0 60px;
}
@media screen and (max-width: 960px) {
  .parceiros,
.patrocinadores,
.apoiadores {
    padding: 0px 20px;
  }
}

.marcas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 5rem;
}
@media screen and (max-width: 960px) {
  .marcas {
    grid-template-columns: repeat(2, 1fr);
  }
}

.marca {
  background-color: #aaa;
  padding: 20px;
  max-width: 344px;
}

footer {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  margin-top: 120px;
}
footer .footer-logo {
  max-width: 200px;
  margin-bottom: 20px;
}
footer .footer-nav img {
  max-width: 50px;
}
footer .footer-nav > ul {
  display: flex;
}
footer a {
  transition: 0.3s ease;
}
footer a:hover {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */